.task {
    display: flex;
    font-size: 1.75rem;
    border-bottom: solid 1px black;
    padding: 1rem;
    align-items: center;
  

    &:hover { 
      background-color: rgb(186, 209, 224);
    }

   

    &:hover &__description {
      visibility: visible;
      opacity: 1;
    }


    &__toggle {
      margin-right: 1rem;
   
    }

    &__icon {
      width: 1.6rem;
      height: 1.6rem;
      transition: all .2s;

      &--delete {

      }
      &--toggle {
        &:hover {    
          background-color: #36688D;
        }
      }     
      &:hover {
        transform: translateY(-2px);
      }
      &:active {
          transform: translateY(0);
      }
    
    }
  
    &__name {
      max-width: 25rem;
      margin-right: auto;
      cursor: pointer;
      
      &:focus {
        background-color: rgb(113, 183, 230);
      }  
  
    }
  
    &__delete {
      margin-left: 1rem;

    }
  
    &-finished {
      text-decoration: line-through;
    }
  }

  .task-edit-bg {
    background-color: red;
  }
  
  @keyframes fade-in {
    0% {
      display: block;
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }