.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(212, 138, 202);
  }
  